* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
  font-size: 44px; /*style varient weight size line-height family*/
  font-weight: 900;
  text-transform: capitalize;
}

h3,
h1 > span {
  color: #e06300;
}

h4 {
  font-size: 20px;
}

img {
  width: 200px;
  height: 200px;
  padding-right: 5%;
}

.container {
  background: #fff;
  margin: 30px auto;
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

address {
  font-size: 20px;
  font-style: normal;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts {
  background: #231f38;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: inline-flex;
}

.picture {
  width: 35%;
  margin: 0 auto;
  padding-top: 5%;
  text-align: left;
}

.info {
  float: left;
  width: 65%;
  margin: 0 auto;
}

.phone {
  width: 50%;
  height: 100px;
  text-align: right;
  padding-right: 10%;
  margin: 0 auto;
}

.street {
  width: 50%;
  height: 100px;
  text-align: left;
  padding-left: 10%;
  margin: 0 auto;
}

main {
  padding: 5%;
}

.summary p {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  text-indent: 30px;
  text-align: justify;
}

li {
  list-style-type: square;
  list-style-position: inside;
  font-style: italic;
  font-size: 20px;
  position: relative;
}

.job_title li:first-child {
  list-style-type: none;
  font-weight: bold;
}

.job {
  text-align: right;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.end {
  background: #231f38;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #5700e2;
}

a:visited {
  color: #c00000;
}

@media screen and (max-width: 768px) {
  .contacts {
    height: 150px;
    width: 100%;
  }

  img {
    width: 150px;
    height: 150px;
    padding-right: 5%;
  }

  .phone,
  .street {
    width: 50%;
    height: 70%;
    height: 100px;
    font-size: 70%;
  }

  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  .picture {
    display: none;
  }

  .contacts {
    height: 70px;
    width: 100%;
    border: solid;
  }
  .info {
    width: 100%;
  }

  .phone,
  .street {
    display: none;
  }

  h1 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .contacts {
    height: 70px;
    width: 100%;
    border: solid;
  }
  .info {
    width: 100%;
  }

  h1 {
    font-size: 25px;
    text-align: center;
  }
}
